* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background-color: rgb(83, 55, 245);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    width: 45%;
}

a {
    text-decoration: none;
}

button[type="submit"] {
    width: 100%;
}

input {
    border: none;
    padding: .7rem .6rem;
}

legend {
    margin-left: 10px;
}

fieldset {
    border-radius: 5px;
}

input:focus {
    outline: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 30%;
    height: 70%;
}

header {
    z-index: -1;
    position: fixed;
    top: 0;
    background-color: rgb(83, 55, 245);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}

header div {
    background-color: whitesmoke;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
}

section .section-header {
    width: 100%;
}

section .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section a {
    color: rgb(165, 165, 165);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}