body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blue {
    background-color: blue;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
}

.orange {
    background-color: orange;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
}